@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
    --poster-width: 230px;
    --poster-space: 18px;
    --poster-per-view: 5;
    --primary: #080e2c;
    --primary-dark: #040716;
    --primary-light: #101b56;
    --secondary: #44d6e9;
    --secondary-dark: #2dd1e6;
    --secondary-light: #5bdbec;
    --font: "Open Sans", sans-serif;
    --font-light: 300;
    --font-regular: 500;
    --font-medium: 600;
    --font-bold: 700;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "open sans", "sans-serif";
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #070e36;
}

html,
body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(8, 14, 44);
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(8, 100%);
}

/* body > *{
    display: grid;
    grid-template-rows: repeat(8, 100%);
} */
/* slideshow */

.Slideshow-movies .swiper {
    width: 100%;
    height: 80vh;
}

.Slideshow-movies .swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Slideshow-movies .swiper-slide img {
    display: block;
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.Slideshow-movies{
    display: flex;
    position: relative;
    overflow: hidden;
    height: max-content;
    padding-bottom: 150px;
}

.shadow {
    background: linear-gradient(
        90deg,
        #000000c1 0%,
        #0000005d 50%,
        #ffffff00 100%
    );
    height: 100%;
    width: 100%;
    /* padding: 120px; */
    position: absolute;
    z-index: 1;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 300ms;
}

.shadow + img {
    z-index: -1;
}

p {
    margin: 0;
}

.film {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    color: #ffffff;
    flex: 0 0 100%;
    position: relative;
    /* translate: calc(-100% * 0); */
    transition: 0.6s;
}

.film:nth-child(1) {
    /* background: url("./image/poster.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 70px;
}

 .film:nth-child(2) {
    background: url("./image/R\ \(2\).jfif");
    background-size: cover;
    background-repeat: no-repeat;
} 

.film:nth-child(3) {
    background: url("../../assets/img/superhero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.film:nth-child(4) {
    background: url("../../assets/img//20319887.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    padding: 4em;
    z-index: 1;
    width: 40em;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #eaeaea;
}

.content > .label {
    display: flex;
    align-items: center;
    gap: 0.6em;
    margin-bottom: 1em;
}

.content > .label > i {
    font-size: 1.4em;
}

.content > .title > h1 {
    font-size: 64px;
    font-weight: 600;
    margin: 0;
}

.content .detail {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-top: 2em;
}

.content .detail > * {
    display: flex;
    align-items: center;
    gap: 0.6em;
    width: max-content;
}

.content .detail > * i {
    font-size: 1.2em;
    color: #eaeaea;
}

.content > button {
    margin-top: 2.5em;
    padding: 16px 32px;
    border-radius: 10px;
    border: none;
    background-color: #44d6e9;
    font-size: 16px;
    color: #080e2c;
    font-weight: 500;
    transition: .3s ;
}

.content > button:hover {
    background-color: #25a0ec;
    /* box-shadow: #2dd0e67e 0px 0px 2em; */
}


/* category */

.categories {
    padding: 88px 120px 0;
    width: 100%;
    box-sizing: border-box;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    gap: 2em;
    justify-self: center;
}

@media only screen and (max-width: 1024px){
    .categories {
        grid-template-columns: repeat(3, max-content);
    }

}
@media only screen and (max-width: 992px){
    .categories {
        grid-template-columns: repeat(2, max-content);
    }

}



.categorie-enf {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    padding: 2em;
    height: 100%;
    background-color: #101b56;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categorie-enf:hover {
    background-color: #253383;
}

.categorie-enf > div {
    width: max-content;
    /* padding: 0 -2em; */
    display: flex;
    align-items: space-between;
    justify-content: center;
    gap: 2em;
}

.categorie-enf > div .icon {
    border-radius: 10px;
    background-color: #080e2c;
    width: 5em;
    height: 5em;
    display: grid;
    place-items: center;
}

.categorie-enf > div .icon > i {
    font-size: 2.2em;
    color: #44d6e9;
}

@media only screen and (max-width: 1024px){
        .categorie-enf {
            padding: 1.8em;
        }
        
        .categorie-enf:hover {
            background-color: #253383;
        }
        
        .categorie-enf > div .icon {
            width: 4em;
            height: 4em;
        }
        
        .categorie-enf > div .icon > i {
            font-size: 2em;
        }

}
@media only screen and (max-width: 992px){
    .categories {
        grid-template-columns: repeat(2, max-content);
    }

}

#descripte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#descripte p {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #ffffff;
}

#descripte span {
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 18px;
    margin-top: -8px;
    color: #fff;
    opacity: 0.6;
}

#descripte a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #44d6e9;
}

/* movies slider */


/* .center {
    display: flex;
    padding: 15px 80px 0px 80px;
    justify-content: center;
    align-items: center;
    width: 100%;
} */

/* top movie slide */

.top-movies-section, .new-movies-section{
    margin: 92px auto 0;
    width: 100%;
    max-width: calc(260px * 5);
    padding: 0 3em;
}


:where(.top-movies-section, .new-movies-section) > h3 {
     /* font-family:0.5px; */
    font-weight: 700; 
    color: white;
    /* margin-top: 92px; */
    margin-bottom: 24px;
    /* border-left: 6px solid; */

}

.top-movies.swiper, .new-movies.swiper {
    width: 100%;
    height: 100%;
}

:where(.top-movies, .new-movies) .swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

:where(.top-movies, .new-movies) .swiper-slide img {
    display: block;
    width: 220px;
    height: 320px;
    object-fit: cover;
}

.top-movies, .new-movies{
    display: flex;
    position: relative;
    overflow: hidden;
    height: max-content;
    padding-bottom: 150px;
}
 
 .film-poster {
    /* background-color: rgb(128, 33, 218); */
    width: 100%;
    height: 100%;
    /* flex: 0 0 var(--poster-width); */
    transition: 0.8s;
    display: grid;
    place-content: center;
}

 .film-poster .poster {
    position: relative;
}

.new-movies .poster::before {
    content: "NEW";
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--secondary-dark);
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: 700;
    color: var(--primary);
}

.poster > img {
    border-radius: 10px;
    width: var(--poster-width);
    height: 300px;
}

/* film detail */

.detail {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.detail > h2 {
    margin-top: 7px;
    margin-left: 5px;
    color: white;
    font-size: 18px;
    font-family: var(--font);
    font-weight: var(--font-medium);
}

.detail > p {
    margin: 0;
    display: flex;
    margin-left: 5px;
}

.detail > p * {
    font-family: var(--font);
    font-weight: var(--font-regular);
    color: var(--secondary);
    font-size: 14px;
}

.detail > p span:nth-child(n + 2)::before {
    content: "\2022";
    font-size: 12px;
    margin: 0 9px;
}