 .tarif-contianer{
    width: 100%;
    margin-top: 150px;
    padding-left: 5em;
    padding-right: 5em;
    
 }
 .tarif-contianer h2{
    position: absolute;
        padding: 0px 10px 0px  15px;
        color:#101B56;
        font-size: 40px;
        background-color: #44D6E9;
        border-radius: 10px 0px 10px 0px ;
 }

  .tarif {
    display: grid;
        width: 100%;
      height: 300px;
      padding: 2em;
      padding-left: 5em;
      box-sizing: border-box;
      background-color: #101B56;
      border-radius: 20px;
      color: aliceblue;
      font-size: 25px;
  }

  table {
      width: 100%;
      height: 100%;
      text-align: start;
  }
  @media screen and (max-width: 1000px) {

      .hifen {
          display: none;

      }
  }