.gallry-container{
width: 100%;
margin-top: 160px;
}

.titleGallry {
    padding-left: 8em;
    color: #44d6e9;
}
.titleGallry>h1 {
    font-size: 40px;
    /* font-weight: 600; */
   
}

.detailGallry {
    padding-left: 9em;
    display: flex;
   
    /* flex-direction: row; */
    gap: 2em;
    /* margin-top: 1em; */
}

.detailGallry>* {
    display: flex;
    align-items: center;
    gap: 0.6em;
    color: hsla(0, 0%, 95%, 0.784);
    width: max-content;
}

.detailGallry>* i {
    font-size: 1.2em;
    color: #fff;
}

/* galruy */
.sectionGallry {
    width: 80%;
    margin: 0 auto;
    line-height: 0;
    position: relative;
}

.sectionGallry article {
    position: absolute;
    top: 18px;
    width: 100%;
    /* background: rgb(166, 166, 186); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    mix-blend-mode: lighten;
}

.sectionGallry img {
    background: rgb(245, 5, 5);
    height: 200px;
    border-radius: 25px;
}

.sectionGallry img:nth-of-type(2) {
    grid-column: 2 / 4;
}

.sr-combo-inputs {
    margin: 20px 0;
  }
  
  .sr-input {
    font-size: 16px;
  }
  
  .sr-card-element {
    padding-top: 12px;
  }
  
  .btn {
    font-size: 16px;
  }