

.containerR {

    max-width: 1000px;
    width: 100%;
    padding: 25px 30px;
    background-color: #e4e3e3fa;
    border-radius: 5px;
}

.containerR .title {
    font-size: 30px;
    font-weight: 600;
    color: #101b56;
}

.containerR form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 12px 0;
}

form .form-group {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form span {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
    color: #010e4c;
}

.form-group input,.form-group select {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #b4b0ef;
    padding-left: 15px;
    font-size: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
} 

.form-group input:focus,
.form-group input:valid,
.form-group input:active {
    /* border-color: #101b56; */
    /* border: none; */
    outline: none;
    
    
    /* overflow-inline: none; */
}

form .button {
    height: 40px;
    width: 100%;
    margin: 40px 0;
}

form .button input {
    width: 100%;
    height: 100%;
    outline: none;
    cursor: pointer;
    background: linear-gradient(130deg,#080e2c, #101b56);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}

form .button input:hover {
    background: linear-gradient(130deg, #0e1b5a, #1d2b78);
}
.payment{
    background-color:#0e1b5a;
    color: cornsilk;
    border:none;
}
@media(max-width: 584px) {
    .containerR {
        max-width: 80%;
    }

    form .form-group {
        margin-bottom: 15px;
        width: 100%;
    }

    .containerR form {
        max-height: 400px;
        overflow-y: scroll;
    }

    .containerR form::-webkit-scrollbar {
        width: 0;
    }

    form .button {
        margin: 20px 0;
    }
}